# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build

# misc
.DS_Store
.env
npm-debug.log
.idea

# Firebase config
.firebaserc
firebase.json
firebase.config.json
database.rules.json

