.unauthorized-view--content {
  display: flex;
  justify-content: center;
  width: 750px;
  margin: 0 auto;

  background: white;

  > div {
    padding: 30px 45px;
  }
}

@media (max-width: 750px) {
  .unauthorized-view--content {
    width: 100%;
  }
}
